# RAG.py langchain,langchain_openai,langchain_community,langchain_core,langchain_experimental
langchain
langchain-openai
langchain-community
langchain-experimental
boto3
langchain_core
faiss-cpu
langchainhub
langsmith


#Milvus function openai,langchain,pymilvus,tiktoken,langchain_text_splitters
openai
pymilvus
tiktoken
langchain_text_splitters
pymilvus
uuid


# Streamlit_app.py streamlit
streamlit

